{% load static %}{% get_static_prefix as STATIC_PREFIX %}<!DOCTYPE HTML>
<html>
<head>
<title>Task Entries</title>

<!-- CSS imports -->
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}resources/css/list.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}resources/css/bmi.css" />
<link rel='stylesheet' type='text/css' href="{{STATIC_PREFIX}}resources/css/jquery-ui.css" />

<script src='{{ STATIC_PREFIX }}resources/js/jquery.min.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/jquery-ui.min.js' type='text/javascript'></script>

<!-- Vue.js for modern reactive UI -->
<script src='https://unpkg.com/vue@3/dist/vue.global.js' type='text/javascript'></script>

<script src='{{ STATIC_PREFIX }}resources/js/sequence-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/collections-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/parameters-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/notes-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/files-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/controls-compat-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/metadata-compat-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/task-interface-compat-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/list-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/task-entry-run-compat-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/task-entry-utils-compat-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/bmi.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/report-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/features-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/metadata-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/filters-vue.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/entries-vue.js' type='text/javascript'></script>


<script type='text/javascript'>
  var hostname = "{{hostname}}";
  var currentRigName = "{{ current_rig|escapejs }}";
  var te = null;
  var feats = new Features();
  var collections = new Collections();
  
  // Features data from Django template
  var initialFeatures = [
    {% for f in features %}
      {
        id: {{ f.id }},
        name: "{{ f.name }}",
        desc: "{{ f.desc }}"
      },
    {% endfor %}
  ];

  var initialCollections = [
    {% for c in collections %}
      {
        id: {{ c.id }},
        name: "{{ c.name|escapejs }}",
        safe_name: "{{ c.safe_name|escapejs }}"
      },
    {% endfor %}
  ];
  
  $(document).ready(function() {
    // Initialize Vue.js applications
    const { createApp } = Vue;
    
    // Initialize report component
    if (typeof reportVueApp !== 'undefined') {
      const reportApp = createApp(reportVueApp);
      reportVueApp.instance = reportApp.mount('#report_div');
    } else {
      console.warn("reportVueApp is not defined; report component will not mount");
    }
    
    // Initialize features component
    const featuresComponentApp = createApp(featuresApp);
    featuresApp.instance = featuresComponentApp.mount('#features_vue');
    featuresApp.instance.initializeFeatures(initialFeatures);
    
    // Initialize parameters component
    const parametersComponentApp = createApp(parametersApp);
    parametersApp.instance = parametersComponentApp.mount('#parameters_vue');

    // Initialize metadata component
    const metadataComponentApp = createApp(metadataApp);
    metadataApp.instance = metadataComponentApp.mount('#metadata_vue');
    
    // Initialize filters component
    const filtersComponentApp = createApp(filtersApp);
    filtersApp.instance = filtersComponentApp.mount('#filters_vue');

    // Initialize collections component
    const collectionsComponentApp = createApp(collectionsApp);
    collectionsApp.instance = collectionsComponentApp.mount('#collections_vue');
    collectionsApp.instance.initializeCollections(initialCollections);
    
    // delegated click handler so dynamically rendered rows also work
    $('#main').on('click', 'tr', function() {
      var clicked_on_header = this.id == "newentry" || this.id == "te_table_header";
      if (clicked_on_header) {
        if (te) te.destroy();
        te = new TaskEntry(null);
      } else if (this.id && this.id.startsWith('row')) {
        if (te) te.destroy();
        te = new TaskEntry(this.id);
      }
    });

    $("#new_exp").click(function() {
      if (te) te.destroy();
      te = new TaskEntry(null);
      reset_date_on_new_task();
    })

    $("#copybtn").click(function(e) {
        if (te) te.copy(!e.shiftKey); // shift key determines whether metdata is cleared or not
    }); // run the TaskEntry prototype copy function to make new parameters
    $("#hidebtn").change(
      function () {
        te.toggle_visible();
      }
    );

    $("#backupbtn").change(
      function () {
        te.toggle_backup();
      }
    );

    $("#templatebtn").change(
      function () {
        te.toggle_template();
      }
    );

    // these are wrapped in a function because 'te' is null to start
    $("#startbtn").click(function() { te.start();});
    $("#testbtn").click(function() { te.test();});
    $("#stopbtn").click(function() { te.stop();});
    $("#saverecbtn").click(function() { te.saverec();});
    // these all function as form submit buttons for the experiment form
    //$("#startbtn").click(function() { te.start();})
    //$("#testbtn").click(function() { te.test();})
    //$("#stopbtn").click(function() { te.stop();})
    //$("#saverecbtn").click(function() { te.saverec();})
    // $("#pausebtn").click(function() { taskaction = "pause"; return te["pause"]();})

    $("#toggle_table").change(
      function() {
        if (this.checked) {
          $("#toggle_visible,#toggle_visible+span").show();
          $("#toggle_templates,#toggle_templates+span").show();
          $('#leftpane').show()
          $('#rightpane').css({'left': "640px", 'top': '0px', 'position': 'fixed'});
        } else {
          $("#toggle_visible,#toggle_visible+span").hide();
          $("#toggle_templates,#toggle_templates+span").hide();
          $('#leftpane').hide()
          $('#rightpane').css({'left': "0px", 'top': 'auto', 'position': 'relative'});
        }
      }
    );

    $("#toggle_visible").change(
      function() {
        if (window.entriesStore) {
          window.entriesStore.fetchEntries({ reset: true });
        }
      }
    );

    $("#toggle_templates").change(
      function() {
        if (window.filtersApp && window.filtersApp.instance) {
          window.filtersApp.instance.showTemplates = this.checked;
        }
        if (window.entriesStore) {
          window.entriesStore.handleTemplatesToggle(this.checked);
        }
      }
    );

    $("#toggle_filters").change(
      function() {
        if (window.filtersApp && window.filtersApp.instance) {
          window.filtersApp.instance.showFilterMenu = this.checked;
        }
      }
    );

    $('#wait_wheel').hide();
    $('#create_new_seq').hide();
    $("tr.template").hide();
    $('#newentry').css('display', 'none'); // Hide the new entry row until user clicks "New Experiment" or header

    if (window.entriesStore) {
      window.entriesStore.init();
    }

    document.addEventListener('keydown', function(event) {
        // hotkeys for simple TE tasks
        if ((event.target.tagName.toLowerCase() !== 'input') && (event.target.tagName.toLowerCase() !== 'textarea') && !(te == null) && (te.status == "completed")) {
            if (event.keyCode == 86) {
                // visible ('v')
                console.log('changing TE visibility');
                te.toggle_visible();
            } else if (event.keyCode == 66) {
                // backup ('b')
                console.log('changing TE backup flag');
                te.toggle_backup();
            } else if(event.keyCode == 37) {
                // left
                var prev_table_row = $('#row' + te.idx).prev();
                var prev_table_row_id = prev_table_row.attr('id');
                if (!(prev_table_row_id == "newentry")) {
                  te = new TaskEntry(prev_table_row_id);
                }
                console.log('going to "previous" TE', prev_table_row_id);

            } else if(event.keyCode == 39) {
                // right
                var next_table_row = $('#row' + te.idx).next();
                var next_table_row_id = next_table_row.attr('id');
                if (!(next_table_row_id == "newentry")) {
                  te = new TaskEntry(next_table_row_id);
                }
                console.log('going to "next" TE', next_table_row_id);

            }
        // hotkeys for controls
        } else if ((event.target.tagName.toLowerCase() !== 'input') && (event.target.tagName.toLowerCase() !== 'textarea') && !(te == null)) {
            if (te.controls && event.keyCode >= 49 && event.keyCode < 58) {
                // digits 1-9 control buttons 0-8
                var button = $("#controls_btn_" + (event.keyCode - 49).toString());
                if (button.length) {
                    console.log("Clicking button ", button.text)
                    button.click()
                }
            } else if (te.controls && event.keyCode >= 97 && event.keyCode < 105) {
                // keypad 1-9 also control buttons 0-8
                var button = $("#controls_btn_" + (event.keyCode - 97).toString());
                if (button.length) {
                    console.log("Clicking button ", button.text)
                    button.click()
                }
            }
        } else {
          console.log("keydown handler ignoring!");
        }
    });

    window.onclick = function(event) {
      if (event.target == document.getElementById("file_modal")) {
        $("#file_modal").css("display", "none");
      }
    }

    // $(window).resize(function(){
    //   var window_width = $(window).width();
    //   var rightpane_width = $('#rightpane').width();
    //   var leftpane_width = $('#leftpane').width();
    //   if (window_width <= rightpane_width) {
    //     $('#rightpane').css("left", 0);
    //   } else if (window_width <= rightpane_width + leftpane_width) {
    //     $('#rightpane').css("left", window_width - rightpane_width);
    //     console.log("2");
    //   } else {
    //     $('#rightpane').css("left", leftpane_width);
    //     console.log("3");
    //   }
    // })

    
    {% if status == "running" and saveid %}
    // If there is a task already running, then immediately open the taskentry and change the status
    te = new TaskEntry({{saveid}});
    {% elif status == "testing" %}
    te = new TaskEntry(null);
    reset_date_on_new_task();
    task_interface.trigger.bind(te)({status: "testing"});
    {% endif %}
  })

  function reset_date_on_new_task() {
    $("#newentry_today").html("Today");
    $('#newentry_today').css('color', 'black');
  }

  document.addEventListener('DOMContentLoaded', function() {
    var dispenseBtn = document.getElementById('dispenseBtn');

    dispenseBtn.addEventListener('click', function() {
      // use fetch to send a POST request to server
      fetch('http://localhost:8080', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ action: 'dispenseTabletReward' }),
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        // handle response from the server if needed
        console.log('Server response:', data);
      })
      .catch(error => {
        // handle errors
        console.error('There was a problem with the fetch operation:', error);
      });
    });
  });
</script>
</head>

{% if test_db %}
<body style="background-color:#cfba74">
{% else %}
<body>
{% endif %}
  <div id="banner">
    <a href="/">Back</a>
    <input id="toggle_table" type="checkbox" checked="on" name="hist_checkbox"><span class="checkboxtext">History</span>
    <input id="toggle_visible" type="checkbox" {% if show_hidden %} checked {% endif %}><span class="checkboxtext">Hidden entries</span>
    <input id="toggle_templates" type="checkbox"><span class="checkboxtext">Templates</span>
    <input id="toggle_filters" type="checkbox"><span class="checkboxtext">Filters</span>
    <button id="new_exp">Start new experiment</button><br>
    <hr>
  </div>

  <!-- Vue Filters Component -->
  <div id="filters_vue" style="margin: 10px 0; padding: 10px; background-color: #f5f5f5; border-radius: 4px;">
    <div style="display: flex; gap: 15px; flex-wrap: wrap; align-items: center; margin-top: 10px;">
      <div style="flex: 1; min-width: 220px;">
        <label style="display:block; margin-bottom: 4px;">Search</label>
        <input
          v-model="searchQuery"
          @input="onSearchInput"
          type="text"
          placeholder="Subject, task, or entry name..."
          style="width: 100%; padding: 8px; border: 1px solid #ddd; border-radius: 4px;">
      </div>

      <div>
        <label style="display:block; margin-bottom: 4px;">Task</label>
        <select
          v-model="selectedTask"
          @change="onFilterChange"
          style="padding: 6px; border: 1px solid #ddd; border-radius: 4px;">
          <option value="all">All Tasks</option>
          <option v-for="task in tasks" :key="task" :value="task" v-text="task"></option>
        </select>
      </div>

      <div>
        <label style="display:block; margin-bottom: 4px;">Subject</label>
        <select
          v-model="selectedSubject"
          @change="onFilterChange"
          style="padding: 6px; border: 1px solid #ddd; border-radius: 4px;">
          <option value="all">All Subjects</option>
          <option v-for="subject in subjects" :key="subject" :value="subject" v-text="subject"></option>
        </select>
      </div>

      <div>
        <label style="display:block; margin-bottom: 4px;">Rig</label>
        <select
          v-model="selectedRig"
          @change="onFilterChange"
          style="padding: 6px; border: 1px solid #ddd; border-radius: 4px;">
          <option value="all">All Rigs</option>
          <option v-for="rig in rigs" :key="rig" :value="rig" v-text="rig"></option>
        </select>
      </div>

      <div>
        <label style="display:block; margin-bottom: 4px;">End date</label>
        <input
          type="date"
          v-model="endDate"
          @change="onFilterChange"
          style="padding: 6px; border: 1px solid #ddd; border-radius: 4px;">
      </div>

      <div style="align-self: flex-end;">
        <button
          v-if="hasActiveFilters"
          @click="clearFilters"
          style="padding: 6px 12px; background-color: #f0f0f0; border: 1px solid #ccc; border-radius: 4px; cursor: pointer;">
          Clear Filters
        </button>
      </div>
    </div>
    
    <!-- Filter Summary -->
    <div v-if="hasActiveFilters" style="margin-top: 10px; font-size: 12px; color: #666;">
      Active: <span v-text="filterSummary"></span> | Showing <span v-text="visibleEntries"></span> of <span v-text="totalEntries"></span>
    </div>
    <div v-else style="margin-top: 10px; font-size: 12px; color: #999;">
      Showing all <span v-text="totalEntries"></span> entries
    </div>
    <div style="margin-top: 10px;">
      <button id="entries_load_more" style="display:none;">Load more</button>
    </div>
  </div>
  <div id="main_box">
    <div id='leftpane'>
      <table id='main' style="direction:ltr;">
        <thead>
        <tr id="te_table_header">
          <th class='colDate'>Date</th>
          <th class='colTime'>Time</th>
          <th class='colID'>ID</th>
          <th class='colRig'>Rig</th>
          <th class='colSubj'>Who</th>
          <th class='colTask'>Task</th>
          <th class='colShortDesc'>Description</th>
        </tr>
        </thead>

        <div id="date_entry_modal"  class="modal fade" role="dialog">
          <div class="modal-content">
            <span class="close" onclick="$('#date_entry_modal').css('display', 'none')">&times;</span>
            Enter date <input type="date" id="date_entry_date" onchange="$('#newentry_today').html($('#date_entry_date').val()); $('#newentry_today').css('color', 'red'); $('#date_entry_modal').css('display', 'none')">
            <!-- <input type="button" value="Set" onclick="$('#newentry_today').html($('#date_entry_date').val()); $('#date_entry_modal').css('display', 'none')"> -->
          </div>
        </div>

        <tbody>
        <!-- Templates -->
        {% for e in templates %}
            {% if e.visible %}
            <tr title="Template" id='row{{e.id}}' class='template'>
            {% else %}
            <tr title="Template" id='row{{e.id}}' class='template' style="background-color: gray">
            {% endif %}
            {% if e == templates|first %}
                <td class='colDate' rowspan={{templates|length}} colspan=3>Templates</td>
            {% endif %}
                <td class='colID' colspan=2 style="text-align: left">{{e.entry_name}}</td>
                <td class='colTask' colspan=2 style="text-align: left">{{e.task.name}}</td>
            </tr>
        {% endfor %}
        <!-- Header -->
          <tr id='newentry' class='rowactive' style="display: none;">
            <td id="newentry_today" onclick="$('#date_entry_modal').css('display', 'block')">Today</td>
            <td id="newentry_now">Now</td>
            <td></td> <!-- Empty for database ID slot -->
            <td></td> <!-- Empty for rig name slot -->
            <td class='colSubj'></td>
            <td class='colTask'>
              <select id='tasks'>
                {% for t in tasks %}<option value='{{t.id}}'>{{ t.name }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr name='hidden' style="display: none"></tr>
        <!-- Task entries -->
        {% for e in entries %}
          <tr title="{{e.desc}}" id='row{{e.id}}' class='{% if e.id == running %}running {% endif %}' {% if not e.visible %}style="background-color: gray"{% endif %}>
              {% if e.html_date %}
                <td class='colDate firstRowOfday' rowspan={{e.rowspan}}>{{e.html_date}}</td>
                <td class='colTime firstRowOfday' >{{e.html_time}}</td>
                <td class='colID firstRowOfday'   >{{e.ui_id}}</td>
                <td class='colRig firstRowOfday' >{{e.rig_name}}</td>
                <td class='colSubj firstRowOfday' >{{e.subject.name}}</td>
                <td class='colTask firstRowOfday' >{{e.task.name}}</td>
                <td class='colShortDesc firstRowOfday'>{{e.desc}}</td>
              {% else %}
                <td class='colTime' >{{e.html_time}}</td>
                <td class='colID'   >{{e.ui_id}}</td>
                <td class='colRig' >{{e.rig_name}}</td>
                <td class='colSubj' >{{e.subject.name}}</td>
                <td class='colTask' >{{e.task.name}}</td>
                <td class='colShortDesc'>{{e.desc}}</td>
              {% endif %}

            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div> <!-- leftpane -->

        <div id="wait_wheel">
            <img id="wait_wheel_img" src="{{ STATIC_PREFIX }}resources/images/ajax-loader.gif" alt="HTML5 Icon">
        </div>

    <div id="rightpane" style="left: 640px;">
      <div id='content' class="active">
        <form id="experiment" method="post" action="javascript:void();" accept-charset="utf-8">
          {% csrf_token %}

          <input id="reloadbtn" value="Reload" type="button" onclick="te.reload()">
          <button type="submit" style="display: none"></button> <!-- trigger the form to submit (void) when enter is pressed -->
          <button id="clear_content" onclick="if (te != null) {te.destroy();} te = null;">Clear content</button>
          <button id="remove_entry" onclick="if (te != null && confirm('Are you sure you want to delete?')) {te.remove();}">Delete entry</button><br>

          <div id="finished_task_buttons">
            <input id="copybtn" class="btn" type="button" value="Copy parameters" title="Hold shift to copy metadata">
            <input id="hidebtn" type="checkbox" checked="on" name="hist_checkbox">Visible?
            <input id="backupbtn" type="checkbox" checked="off" name="hist_checkbox">Flagged for backup?
            <input id="templatebtn" type="checkbox" checked="off" name="hist_checkbox">Use as template
          </div>

          <!-- Task Control Buttons -->
          <div id="task_controls">
            <div id="start_buttons">
              <input id="testbtn" class="btn startbtn" type="submit" value="Test" title="Run the experiment without saving any data">
              <input id="startbtn" class="btn startbtn" type="submit" value="Start Experiment">
              <input id="saverecbtn" class="btn startbtn" type="submit" value="Save Record" title="Save a record of an already complete experiment">
            </div>
            <div id="stop_buttons" style="display: none;">
              <input id="stopbtn" class="btn startbtn" type="submit" value="Stop Experiment">
            </div>
          </div>

          <div id="stop_buttons_old" style="display: none;">
            <input id="stopbtn" class="btn startbtn" type="submit" value="Stop Experiment">
          </div>

          <div class="clear"></div>

          <div id="entry_name_div">
            Name: <input type="text" id="entry_name" style="width:200px; ! important;" onchange="te.save_name()">
          </div>

          <div class="rightpane_fields">
            <div class="options">

              <fieldset id="metadata">
                <legend>Metadata</legend>
                <div id="metadata_vue">
                  <table class="parameters_table" v-if="orderedMetadataEntries.length > 0">
                    <tbody>
                      <tr v-for="entry in orderedMetadataEntries" :key="entry[0]" :title="fieldTitle(entry[1])">
                        <td class="param_label" style="text-align: right;">
                          <label :for="inputId(entry[0])" v-text="fieldLabel(entry[0], entry[1])"></label>
                          <input v-if="editMode && !['subject','experimenter','project','session'].includes(entry[0])"
                                 type="button"
                                 class="paramremove"
                                 value="-"
                                 @click="removeCustomField(entry[0])">
                        </td>
                        <td>
                          <select v-if="isType(entry[1], 'Enum') || isType(entry[1], 'OptionsList')"
                                  :id="inputId(entry[0])"
                                  v-model="entry[1].value"
                                  :disabled="!editMode"
                                  :required="entry[1].required">
                            <option v-if="entry[1].required" value=""></option>
                            <option v-for="opt in entry[1].options" :key="opt" :value="opt" v-text="opt"></option>
                          </select>
                          <input v-else-if="isType(entry[1], 'Bool')"
                                 type="checkbox"
                                 :id="inputId(entry[0])"
                                 v-model="entry[1].value"
                                 :disabled="!editMode">
                          <input v-else
                                 type="text"
                                 class="string"
                                 :id="inputId(entry[0])"
                                 v-model="entry[1].value"
                                 :placeholder="entry[1].default"
                                 :disabled="!editMode"
                                 :required="entry[1].required">
                        </td>
                      </tr>
                      <tr v-if="showCustomRow && editMode">
                        <td class="param_label" style="text-align: right;">
                          <input type="text" placeholder="New entry" v-model="customKey" required>
                        </td>
                        <td>
                          <input type="text" class="string" v-model="customValue" required>
                          <input type="button" class="paramadd" value="✓" @click="addCustomField">
                          <input type="button" class="paramremove" value="✕" @click="cancelCustomField">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="margin-top: 6px;" v-if="editMode">
                    <input type="button" class="paramadd" value="+" @click="showAddCustomRow">
                  </div>
                </div>
                <table id="metadata_table" style="display:none;"></table>
              </fieldset>

              <div id="features_vue">
                <fieldset id="features">
                  <legend v-text="'Features (' + selectedCount + '/' + features.length + ' selected)'"></legend>
                  
                  <!-- Features search and controls -->
                  <div style="margin-bottom: 10px;">
                    <input v-model="searchQuery" 
                           type="text" 
                           placeholder="Search features..." 
                            :disabled="isDisabled"
                           style="width: 100%; padding: 5px; margin-bottom: 5px;">
                          <button @click="selectAll" :disabled="isDisabled" style="margin-right: 5px;">Select All</button>
                          <button @click="deselectAll" :disabled="isDisabled">Clear Selection</button>
                  </div>

                  <!-- Features list -->
                  <ul>
                    <li v-for="f in filteredFeatures" :key="f.name" :title="f.desc">
                      <input type="checkbox" 
                             :name="f.name" 
                             :id="'feat_' + f.name" 
                             :value="f.id"
                             :disabled="isDisabled"
                             v-model="selectedFeatures[f.name]">
                      <label :for="'feat_' + f.name" v-text="f.name"></label>
                      <small v-if="f.desc" style="color: #666; margin-left: 10px;" v-text="f.desc"></small>
                    </li>
                  </ul>
                  
                  <!-- Empty state -->
                  <div v-if="filteredFeatures.length === 0 && searchQuery" style="color: #999; font-style: italic;">
                    No features match your search
                  </div>
                </fieldset> <!-- features -->
              </div>

              <fieldset id="sequence">
                <legend>Sequence</legend>
                <table>
                  <input id="create_new_seq" class="btn" type="submit" value="Create New Seq.">
                  <tr id="tr_seqlist">
                    <td class="param_label"><label for="seqlist">Name:</label></td>
                    <td>
                      <select id="seqlist" name="seq_name">
                        <option value="new">Create New...</option>
                      </select>
                    </td>
                  </tr>

                  <tr>
                    <!-- List of generators -->
                    <td class="param_label"><label class="traitname" for="seqgen">Generator:</label></td>
                    <td>
                      <select id="seqgen" name="seq_gen">
                        {% for g in generators %}<option value="{{g.id}}">{{g.name}}</option>
                        {% endfor %}
                      </select>
                    </td>
                  </tr>
                </table>

                <div id="seqparams">
                </div>

                <div id="seqadd">
                    <input type="submit" value="Submit" onclick="te.sequence.add_sequence()"/>
                </div>

                <div id="seqstatic_div" class="clear">
                  <input id="seqstatic" type="checkbox" name="seqstatic">
                  <label for="seqstatic">Static</label>
                </div>
              </fieldset> <!-- sequence -->

              <fieldset id="parameters">
                <legend>Parameters</legend>
                <div id="parameters_vue">
                  <div class="show-all-checkbox">
                    <label>
                      <input type="checkbox" v-model="showAllParams"> Show All Parameters?
                    </label>
                  </div>
                  <div style="margin-bottom: 10px;">
                    <input v-model="searchQuery"
                           type="text"
                           placeholder="Search parameters..."
                           style="width: 100%; padding: 5px; margin-bottom: 5px;">
                  </div>
                  <table class="parameters_table" v-if="filteredVisibleCount > 0">
                    <tbody>
                      <tr v-for="(param, name) in filteredVisibleParams" :key="name" class="param_row">
                        <td class="param_label">
                          <label :for="'param_' + name" v-text="param.label || name"></label>
                        </td>
                        <td class="param_input">
                          <!-- Float Input -->
                          <input v-if="isType(param, 'Float')" 
                                 type="text" 
                                 :id="'param_' + name"
                                 v-model="param.value"
                                 :placeholder="param.default"
                                 pattern="-?[0-9]*\.?[0-9]*"
                                 :disabled="!editMode">
                          <!-- Int Input -->
                          <input v-else-if="isType(param, 'Int')" 
                                 type="number" 
                                 :id="'param_' + name"
                                 v-model.number="param.value"
                                 :disabled="!editMode">
                          <!-- Bool (Checkbox) -->
                          <input v-else-if="isType(param, 'Bool')" 
                                 type="checkbox" 
                                 :id="'param_' + name"
                                 v-model="param.value"
                                 :disabled="!editMode">
                          <!-- String Input -->
                          <input v-else-if="isType(param, 'String')" 
                                 type="text" 
                                 :id="'param_' + name"
                                 v-model="param.value"
                                 :placeholder="param.default"
                                 :disabled="!editMode">
                          <!-- Enum/Options Select -->
                          <select v-else-if="isType(param, 'Enum') || isType(param, 'OptionsList')" 
                                  :id="'param_' + name"
                                  v-model="param.value"
                                  :disabled="!editMode">
                            <option v-for="option in param.options" :key="option" :value="option" v-text="option"></option>
                          </select>
                          <!-- Tuple (Multiple inputs) -->
                          <div v-else-if="isType(param, 'Tuple')" class="tuple-inputs">
                            <input v-for="(val, idx) in (Array.isArray(param.value) ? param.value : [])" 
                                   :key="idx"
                                   type="text" 
                                   v-model="param.value[idx]"
                                   :placeholder="param.default[idx]"
                                   :disabled="!editMode"
                                   class="tuple-input">
                          </div>
                          <!-- Array (Multiple inputs or list) -->
                          <div v-else-if="isType(param, 'Array')" class="array-inputs">
                            <input v-for="(val, idx) in (Array.isArray(param.value) ? param.value : param.default)" 
                                   :key="idx"
                                   type="text" 
                                   v-model="param.value[idx]"
                                   :placeholder="param.default[idx]"
                                   pattern="[0-9\\(\\)\\[\\]\\.\\,\\s\\-]*"
                                   :disabled="!editMode"
                                   class="array-input">
                          </div>
                          <!-- List (Dynamic array) -->
                          <div v-else-if="isType(param, 'List')" class="list-inputs">
                            <input v-for="(val, idx) in (Array.isArray(param.value) ? param.value : param.default)" 
                                   :key="idx"
                                   type="text" 
                                   v-model="param.value[idx]"
                                   :placeholder="param.default[idx]"
                                   :disabled="!editMode"
                                   class="list-input">
                          </div>
                          <!-- Instance/DataFile Select -->
                          <select v-else-if="isType(param, 'Instance') || isType(param, 'InstanceFromDB') || isType(param, 'DataFile')" 
                                  :id="'param_' + name"
                                  v-model="param.value"
                                  :disabled="!editMode">
                            <option v-for="option in param.options" 
                                    :key="getOptionKey(option)" 
                                    :value="getOptionValue(option)"
                                    v-text="getOptionText(option)">
                            </option>
                          </select>
                          <!-- Fallback text input -->
                          <input v-else 
                                 type="text" 
                                 :id="'param_' + name"
                                 v-model="param.value"
                                 :disabled="!editMode">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p v-else-if="visibleCount === 0" style="color: #999; font-style: italic;">No parameters for this task</p>
                  <p v-else style="color: #999; font-style: italic;">No parameters match your search</p>
                </div>
              </fieldset> <!-- parameters -->
            </div>

            <div class="rightside">

              <fieldset id="report">
                <legend>Report</legend>
                <div id="report_div">
                  <div style="margin-bottom: 10px;">
                    <input type="button" value="Update report" onclick="te.report.manual_update()">
                    <input type="button" value="Save FPS Log" onclick="reportVueApp.instance?.saveFpsLog()">
                    <span v-if="wsConnected" style="color: green; margin-left: 20px;">
                      ✓ WebSocket Connected
                    </span>
                    <span v-else style="color: red; margin-left: 20px;">
                      ✗ WebSocket Disconnected
                    </span>
                  </div>

                  <!-- Report Statistics Table -->
                  <table class="option" id="report_info" v-if="statsArray.length > 0">
                    <tr v-for="stat in statsArray" :key="stat.name">
                      <td><strong v-text="stat.name"></strong></td>
                      <td v-text="stat.value"></td>
                    </tr>
                  </table>
                  <div v-else style="color: #999; font-style: italic;">
                    No report data yet. Start an experiment to see statistics.
                  </div>

                  <!-- Messages and Stdout Output -->
                  <div class="report_table" id="report_msgs" v-if="stdoutText">
                    <div style="margin-bottom: 10px;">
                      <button @click="clearStdout">Clear Output</button>
                    </div>
                    <pre id="stdout" v-text="stdoutText"></pre>
                  </div>

                  <div class="clear"></div>
                </div>
              </fieldset>

              <fieldset id="controls">
                <button id="dispenseBtn" type="button">Dispense manual reward</button>
                <legend>Controls</legend>
                <table id="controls_table">
                </table>
              </fieldset>
              

              <fieldset id="notes">
                <legend>Notes</legend>
                <textarea name="notes"></textarea>
              </fieldset>

              <fieldset id="files">
                <legend>Linked Data Files</legend>
                <button onclick="$('#file_modal').css('display', 'block')">Manually link data files</button><br>
                <!-- File add modal -->
                <div id="file_modal" class="modal">

                  <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close" id="file_modal_close" onclick="$('#file_modal').css('display', 'none'); te.reload();">&times;</span>
                    <button id="file_modal_clear" onclick="$('#file_path, #new_file_path, #new_file_raw_data').val('');">Clear</button>

                    <table>
                      <thead>
                        <td><b>Existing file</b></td>
                        <td><b>New text data</b></td>
                      </thead>
                      <tr>
                        <td valign="top">
                            Enter the file path: <input type="text" id="file_path" name="file_path" style="width:200px; ! important;"><br><br>
                            or browse for a file: <input type="file" id="file_path_browser_sel"><br>
                        </td>
                        <!-- <td>OR</td> -->
                        <td valign="top">
                          Name of new file path:<br>
                          <input type="text" id="new_file_path" style="width:200px; ! important;">
                          Data type <select id="new_file_data_format">
                            <option value="json">JSON</option>
                            <option value="txt">text</option>
                          </select><br>
                          Data<br>
                          <textarea rows="10" cols="50" id="new_file_raw_data">
                          </textarea>
                        </td>
                    </table>

                    <br>
                    <hr>
                    Select data type/system <select id="data_system_id" name="data_system_id">
                      {% for system in systems %}
                      <option value={{system.id}}>{{system.name}}--Default path: {{system.path}}</option>
                      {% endfor %}
                    </select>
                    <br><br><br>

                    <div id="file_modal_server_resp"></div>
                    <br>

                    <button id="submit_files_to_link" onclick="te.link_new_files();">Add file</button>
                  </div>

                </div>

                <div id="file_list">
                </div>
              </fieldset>

              <fieldset id="collections">
                <legend>Dataset Collections</legend>
                <div id="collections_vue">
                  <ul v-if="isVisible">
                    <li v-for="c in collections" :key="c.id">
                      <input type="checkbox"
                             :name="c.name"
                             :id="'col_' + c.safe_name"
                             :value="c.id"
                             v-model="selectedCollections[c.name]">
                      <label :for="'col_' + c.safe_name" v-text="c.name"></label>
                    </li>
                  </ul>
                </div>
              </fieldset>

              <fieldset id='bmi'>
              <legend>BMI</legend>
                  <div id='bmiwrap'>
                  <table id='bmiinfo'>
                     <!-- Drop-down menu for BMIs trained using this block -->
                      <tr>
                          <td>
                              <label for='bminame'>Name</label>
                          </td>
                          <td>
                              <select id='bminame' />
                          </td>
                      </tr>
                      <!-- Drop-down menu of BMI training methods  -->
                      <tr>
                          <td>
                              <label for='bmiclass'>Decoding algorithm:</label>
                          </td>
                          <td>
                              <select id='bmiclass'>
                                  {% for name in bmi_algorithms %}
                                  <option>{{ name }}</option>
                                  {% endfor %}
                              </select>
                          </td>
                      </tr>
                      <!-- Drop-down menu of feature extractors  -->
                      <tr>
                          <td>
                              <label for='bmiextractor'>Feature Extractor:</label>
                          </td>
                          <td>
                              <select id='bmiextractor'>
                                  <option selected>{{ default_extractor }}</option>
                                  {% for name in extractors %}
                                      {% if not name == default_extractor %}
                                          <option>{{ name }}</option>
                                      {% endif %}
                                  {% endfor %}
                              </select>
                          </td>
                      </tr>
                      <!-- Input box to specify the bin length/update rate of the decoder -->
                      <tr>
                          <td>
                              <label for='bmiupdaterate'>BMI update rate</label>
                          </td>
                          <td>
                              <!-- <input id='bmiupdaterate' /> -->
                              <select id='bmiupdaterate'>
                                  {% for update_rate in bmi_update_rates %}
                                      <option>{{ update_rate }}</option>
                                  {% endfor %}
                              </select>
                          </td>
                      </tr>
                      <!-- State space model -->
                      <tr>
                          <td>
                              <label for='ssm'>State space</label>
                          </td>
                          <td>
                              <select id='ssm'>
                                  {% for ssm in state_spaces %}
                                      <option>{{ ssm }}</option>
                                  {% endfor %}
                              </select>
                          </td>
                      </tr>
                      <!-- Select position variable -->
                      <tr>
                          <td>
                              <label for='pos_key'>Position variable</label>
                          </td>
                          <td>
                              <select id='pos_key'>
                                  {% for pos_key in pos_vars %}
                                      <option>{{ pos_key }}</option>
                                  {% endfor %}
                              </select>
                          </td>
                      </tr>
                      <!-- Select the function for extracting the kinematics from the HDF file -->
                      <tr>
                          <td>
                              <label for='kin_extractor'>Kinematic extractor</label>
                          </td>
                          <td>
                              <select id='kin_extractor'>
                                  {% for var in kin_extractors %}
                                      <option>{{ var }}</option>
                                  {% endfor %}
                              </select>
                          </td>
                      </tr>
                      <!-- Select whether to zscore data or not -->
                      <tr>
                          <td>
                              <label for='zscore'>zscore neural features</label>
                          </td>
                          <td>
                              <input id='zscore' type="checkbox">
                          </td>
                      </tr>
                      <!-- Slider for specifying the time range of the block to use for training the decoder-->
                      <tr>
                          <td id='tselect' colspan='2'>
                              <input id='tstart' />
                              <div id='tslider'></div>
                              <input id='tend' />
                          </td>
                      </tr>
                      <!-- Buttons for train/cancel. No idea what the cancel button would do... -->
                      <tr>
                          <td colspan='2'>
                              <input id='bmitrain' class='bmibtn' type='button' value='Train' />
                              <input id='bmicancel' class='bmibtn' type='button' value='Cancel' />
                          </td>
                      </tr>
                  </table>
                  </div>
                  <table id='cellselect'>
                      <tr>
                          <th>Available</th>
                          <th></th>
                          <th>Selected</th>
                      </tr>
                      <!-- Make boxes to list out the available spiking units. Only used for spike-count-based feature extractors -->
                      <tr>
                          <td>
                              <select id='available' multiple='multiple'></select>
                          </td>
                          <td>
                              <input type='button' id='makecell' value='>>'/>
                              <br />
                              <br />
                              <input type='button' id='makeavail' value='<<'/>
                          </td>
                          <td>
                              <select id='cells' multiple='multiple'>
                              </select>
                          </td>
                      </tr>
                      <!-- Text box of the selected spike units.  -->
                      <tr>
                          <td colspan='3'>Spike units:</td>
                      </tr>
                      <tr>
                          <td colspan='3'><textarea id='cellnames'></textarea>
                          </td>
                      </tr>
                      <!-- Text box in which to specify the continuous channels to use -->
                      <tr>
                          <td colspan='3'>Continuous channels (LFP, EMG, etc.):</td>
                      </tr>
                      <tr>
                          <td colspan='3'><textarea id='channelnames'></textarea>
                          </td>
                      </tr>
                  </table>
              </fieldset> <!-- BMI -->


            </div> <!-- rightside -->
          </div> <!-- rightpane_fields -->
        </form> <!-- experiment form -->
      </div> <!-- content -->
    </div> <!-- rightpane -->
  </div> <!--main_box-->
</body>
</html>
